* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: 'Lato', sans-serif; }

#home {
  width: 100%;
  min-height: 100vh;
  background-image: linear-gradient(to right bottom, rgba(49, 50, 51, 0.8), rgba(35, 5, 33, 0.8)), url(../img/home-background.png);
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  animation: bgintro 3s;
  opacity: 1; }
  #home .container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center; }
    #home .container form {
      position: absolute;
      top: 50%;
      transform: translateY(-50%); }
      #home .container form input {
        text-align: center;
        height: 40px;
        width: 50vw;
        border-radius: 6px;
        font-size: 20px;
        text-transform: uppercase;
        letter-spacing: 0.5px; }
      #home .container form .btn-box button {
        margin-top: 20px;
        width: 15vw;
        height: 35px;
        margin-bottom: 40px; }
        #home .container form .btn-box button:hover {
          transform: translateY(-2px);
          box-shadow: 3px 5px 11px #000;
          transition: all 0.2s; }
        #home .container form .btn-box button:focus {
          transform: translateY(-1px);
          box-shadow: 2px 3px 9px #000;
          transition: all 0.2s; }
      #home .container form .btn-box .resetBtn {
        background-color: #bf0b32;
        color: #FFF;
        border: none;
        box-shadow: 1px 2px 8px #000;
        cursor: pointer;
        font-weight: bolder;
        font-size: 16px;
        letter-spacing: 1px; }
      #home .container form .btn-box .startBtn {
        background-color: #2ebe41;
        color: #FFF;
        border: none;
        box-shadow: 1px 2px 8px #000;
        cursor: pointer;
        font-weight: bolder;
        font-size: 16px;
        letter-spacing: 1px; }
      #home .container form .info {
        width: 50%;
        padding: 15px;
        background-color: crimson;
        color: #FFF;
        text-transform: uppercase;
        border-radius: 15px;
        box-shadow: 2px 4px 10px #000;
        opacity: 0; }

#game-area {
  background-color: #F7F7F7;
  width: 100%;
  min-height: 100vh;
  display: none; }
  #game-area .container {
    display: flex;
    justify-content: center;
    flex-flow: row wrap; }
    #game-area .container span {
      flex-basis: 50%;
      text-align: center;
      padding: 40px;
      text-transform: uppercase;
      font-size: 20px;
      border: 1px solid #000;
      letter-spacing: 1px; }
    #game-area .container .nick-area {
      background-color: #fff; }
    #game-area .container .money-area {
      background-color: rgba(220, 20, 60, 0.664);
      color: #FFF; }
    #game-area .container .investor-box {
      width: 60vw;
      height: auto;
      background-color: #FFF;
      text-align: center;
      padding: 50px; }
      #game-area .container .investor-box .investor-name h2 {
        margin-bottom: 25px; }
      #game-area .container .investor-box .investor-image {
        display: flex;
        justify-content: center; }
        #game-area .container .investor-box .investor-image img {
          width: 40%;
          border: 1px solid #000;
          box-shadow: 1px 2px 8px #000; }
        #game-area .container .investor-box .investor-image p {
          font-size: 19px; }
      #game-area .container .investor-box .investor-button {
        margin-top: 25px; }
        #game-area .container .investor-box .investor-button input {
          width: 30%;
          height: 40px;
          text-align: center;
          box-shadow: 1px 1px 3px #000; }
        #game-area .container .investor-box .investor-button .extraBtn {
          display: flex;
          justify-content: center;
          flex-flow: row wrap;
          display: none; }
          #game-area .container .investor-box .investor-button .extraBtn button {
            height: 40px;
            background-color: #c73434;
            padding: 0 10px 0 10px;
            text-transform: uppercase;
            color: #FFF;
            font-weight: bolder;
            letter-spacing: 0.7px;
            flex-basis: 50%;
            outline: none;
            border: 1px solid #000;
            cursor: pointer;
            display: none; }
        #game-area .container .investor-box .investor-button #send-money {
          height: 40px;
          background-color: #2ebe41;
          padding: 0 10px 0 10px;
          text-transform: uppercase;
          color: #FFF;
          font-weight: bolder;
          letter-spacing: 0.7px;
          cursor: pointer; }
    #game-area .container p.info-win {
      margin: 0 auto;
      text-align: center;
      font-size: 20px;
      background-color: rgba(220, 20, 60, 0.664);
      width: 40%;
      margin-top: 25px;
      padding: 15px 0 15px 0;
      color: #FFF;
      display: none; }
    #game-area .container .mywin {
      display: none;
      margin-top: 10%; }
      #game-area .container .mywin #amountwin {
        color: #2ebe41;
        padding: 20px 0 20px 0;
        font-weight: bolder;
        text-transform: uppercase;
        letter-spacing: 0.5px;
        animation: color 3s;
        transform: scale(1.2); }
      #game-area .container .mywin .img-growth img {
        width: 40%;
        margin-bottom: 12px;
        animation: growth 2s; }
      #game-area .container .mywin button {
        height: 40px;
        background-color: #f0f0f0;
        padding: 0 10px 0 10px;
        text-transform: uppercase;
        color: #333;
        font-weight: bolder;
        letter-spacing: 0.7px; }

#endgame {
  background-color: #F7F7F7;
  width: 100%;
  min-height: 100vh;
  display: none; }
  #endgame .container {
    position: relative;
    display: flex;
    justify-content: center; }
    #endgame .container h1 {
      margin-top: 25vh;
      text-transform: uppercase;
      letter-spacing: 1.2px; }
  #endgame .newgame-button {
    text-align: center;
    margin-top: 30px; }
    #endgame .newgame-button button {
      width: 200px;
      height: 35px;
      background-color: #2ebe41;
      color: #FFF; }

.hide {
  display: none; }

@keyframes bgintro {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes growth {
  0% {
    transform: scale(1.3); }
  100% {
    transform: scale(1); } }

@keyframes color {
  0% {
    color: crimson;
    transform: scale(1); }
  100% {
    color: #2ebe41;
    transform: scale(1.2); } }

@media (max-width: 1000px) {
  #home .container form input {
    height: 40px;
    width: 80vw;
    font-size: 16px; }
  #home .container form .btn-box button {
    margin-top: 20px;
    width: 40vw;
    height: 35px;
    margin-bottom: 40px;
    font-size: 14px !important; } }

@media (max-width: 1200px) {
  #game-area {
    background-color: #F7F7F7;
    width: 100%;
    min-height: 100vh;
    display: none;
    overflow-x: hidden;
    overflow-y: hidden; }
    #game-area .container {
      display: flex;
      justify-content: center;
      flex-flow: row wrap; }
      #game-area .container span {
        flex-basis: 50%;
        text-align: center;
        padding: 20px;
        text-transform: uppercase;
        font-size: 15px;
        border: 1px solid #000;
        letter-spacing: 1px; }
      #game-area .container .nick-area {
        background-color: #fff; }
      #game-area .container .money-area {
        background-color: rgba(220, 20, 60, 0.664);
        color: #FFF; }
      #game-area .container .investor-box {
        width: 100vw;
        min-height: 100vh;
        background-color: #FFF;
        text-align: center;
        padding: 50px;
        display: flex; }
        #game-area .container .investor-box .investor-name h2 {
          margin-bottom: 20px; }
        #game-area .container .investor-box .investor-image {
          display: flex;
          justify-content: center;
          flex-flow: column wrap; }
          #game-area .container .investor-box .investor-image img {
            width: 25%;
            border: 1px solid #000;
            box-shadow: 1px 2px 8px #000;
            margin: 0 auto;
            margin-bottom: 40px; }
          #game-area .container .investor-box .investor-image p {
            font-size: 16px; }
        #game-area .container .investor-box .investor-button {
          margin-top: 25px;
          display: flex;
          justify-content: center;
          flex-flow: column wrap; }
          #game-area .container .investor-box .investor-button input {
            width: 100%;
            height: 40px;
            text-align: center;
            box-shadow: 1px 1px 3px #000;
            margin: 0 auto; }
          #game-area .container .investor-box .investor-button button {
            height: 40px;
            background-color: #2ebe41;
            padding: 0 10px 0 10px;
            text-transform: uppercase;
            color: #FFF;
            font-weight: bolder;
            letter-spacing: 0.7px; }
      #game-area .container p.info-win {
        margin: 0 auto;
        text-align: center;
        font-size: 16px;
        background-color: rgba(220, 20, 60, 0.664);
        width: 80%;
        margin-top: 25px;
        padding: 15px 0 15px 0;
        color: #FFF;
        display: none; }
      #game-area .container .mywin {
        display: none;
        margin-top: 10%; }
        #game-area .container .mywin #amountwin {
          color: #2ebe41;
          padding: 20px 0 20px 0;
          font-weight: bolder;
          text-transform: uppercase;
          letter-spacing: 0.5px;
          animation: color 3s;
          transform: scale(1.2); }
        #game-area .container .mywin .img-growth img {
          width: 40%;
          margin-bottom: 12px;
          animation: growth 2s; }
        #game-area .container .mywin button {
          height: 40px;
          background-color: #f0f0f0;
          padding: 0 10px 0 10px;
          text-transform: uppercase;
          color: #333;
          font-weight: bolder;
          letter-spacing: 0.7px; }
  #endgame {
    background-color: #F7F7F7;
    width: 100%;
    min-height: 100vh;
    display: none; }
    #endgame .container {
      position: relative;
      display: flex;
      justify-content: center; }
      #endgame .container h1 {
        margin-top: 25vh;
        text-transform: uppercase;
        letter-spacing: 1.2px;
        font-size: 20px; }
    #endgame .newgame-button {
      text-align: center;
      margin-top: 30px; }
      #endgame .newgame-button button {
        width: 200px;
        height: 35px;
        background-color: #2ebe41;
        color: #FFF; }
  .extraBtn {
    display: flex !important;
    justify-content: center;
    flex-flow: row wrap; }
    .extraBtn button {
      height: 40px;
      background-color: #c73434;
      padding: 0 10px 0 10px;
      text-transform: uppercase;
      color: #FFF;
      font-weight: bolder;
      letter-spacing: 0.7px;
      flex-basis: 50%;
      outline: none;
      border: 1px solid #000;
      cursor: pointer;
      display: inline-block !important; } }
